name: App Test over API

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 10 * * 2'

jobs:
  testapp:
    name: Test over API with testapp
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - name: Get dependencies
      run: go get -v -t -d ./...
    - name: Test
      run: go run ./testapp/main.go
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_APIKEY }}
